      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
             <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#LoginModal-1">{{'Register'|translate}}</a></li>
             <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#LoginModal-2">Log in</a></li>
             <li class="nav-item"><a  class="nav-link" (click)="logout()" routerLink="header">Log out</a></li>
             <li class="nav-item"><a class="nav-link" routerLink="/more">More</a></li>
          </ul>

          <select #langSelect (change)="langChanged(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item"><a class="nav-link" routerLink="/A">Title A</a></li> 
               <li class="nav-item"><a class="nav-link" routerLink="/B">Title B</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/C">Title C</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/D">Title D</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/E">Title E</a></li>              
            </ul>
          </div>
        </nav>

<div class="container">
  <app-login></app-login>
  <app-register></app-register>
</div>

        