
      <!-- <div>
        <button pButton label="Sign up" class="button-style"></button>
        <button pButton label="Log in"  class="button-style"></button>
      </div> -->

      <p-menubar>
              <span class="header-text-style" routerLinkActive = "active"><a routerLink="/signup">Sign up</a></span>
              <span class="header-text-style" routerLinkActive = "active"><a routerLink="/login">Log in</a></span>
              <span class="header-text-style" routerLinkActive = "active"><a routerLink="/more">more</a></span>
      </p-menubar>
      
<div class="content-section implementation">
  <p-menubar [model]="items"></p-menubar>
</div>
