
      <!-- <div>
        <button pButton label="Sign up" class="button-style"></button>
        <button pButton label="Log in"  class="button-style"></button>
      </div> -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item"><a class="nav-link" routerLink="/signin">Sign up</a></li>
             <li class="nav-item"><a class="nav-link" routerLink="/login">Log in</a></li>
             <li class="nav-item"><a class="nav-link" routerLink="/more">More</a></li>
          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item"><a class="nav-link" routerLink="/A">Title A</a></li> 
               <li class="nav-item"><a class="nav-link" routerLink="/B">Title B</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/C">Title C</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/D">Title D</a></li>
               <li class="nav-item"><a class="nav-link" routerLink="/E">Title E</a></li>              
            </ul>
          </div>
        </nav>