<!-- <div id="footer">
    <ul class="footer-links" style="list-style-type:none">
        <li>
            <div class="title">Section A</div>
            <div class="links"><a routerLink="/a1">aaa</a></div>
            <div class="links"><a routerLink="/a2">aaa</a></div>
            <div class="links"><a routerLink="/a3">aaa</a></div>
        </li>
        <li>
            <div class="title">Section B</div>
            <div class="links"><a routerLink="/b1">bbb</a></div>
            <div class="links"><a routerLink="/b2">bbb</a></div>
            <div class="links"><a routerLink="/b3">bbb</a></div>
        </li>
        <li class="last">
            <div class="title">Section D</div>
            <div class="links"><a routerLink="/c1">ddd</a></div>
            <div class="links"><a routerLink="/c2">ddd</a></div>
            <div class="links"><a routerLink="/c3">ddd</a></div>
        </li>
    </ul>
</div> -->

<!-- footer from bootstrap -->
<footer class="page-footer">
        <div class="container text-center text-md-left">
            <div class="row">
               <div class="col-4">
                   <div class="mt-3 mb-3">Links1</div>
                       <ul class="list-unstyled">
                         <li><a routerLink="/signup">aaa</a></li>
                         <li><a routerLink="/signup">aaa</a></li>
                         <li><a routerLink="/signup">aaa</a></li>
                       </ul>
               </div>    

            <hr class="clearfix w-100 d-md-none">

               <div class="col-4">
                   <div class="mt-3 mb-3">Links2</div>
                        <ul class="list-unstyled">
                          <li><a routerLink="/signup">bbb</a></li>
                          <li><a routerLink="/signup">bbb</a></li>
                          <li><a routerLink="/signup">bbb</a></li>
                        </ul>
               </div>    
               
            <hr class="clearfix w-100 d-md-none">
      
               <div class="col-4">
                    <div class="mt-3 mb-3">Links3</div>
                        <ul class="list-unstyled">
                           <li><a routerLink="/signup">ccc</a></li>
                           <li><a routerLink="/signup">ccc</a></li>
                           <li><a routerLink="/signup">ccc</a></li>
                        </ul>
               </div>  
          </div>    
        </div>
</footer> 

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://csnoob.com/"> Csnoob.com</a>
</div>

    