  <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown1</a>
                <div class="dropdown-menu" x-placement="bottom-start">
                    <a class="dropdown-item"  routerLink="/sub1">sub1</a>
                    <a class="dropdown-item"  routerLink="/sub2">sub2</a>
                    <a class="dropdown-item"  routerLink="/sub3">sub3</a>
                </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown2</a>
             <div class="dropdown-menu" x-placement="bottom-start">
                 <a class="dropdown-item"  routerLink="/sub1">sub1</a>
                 <a class="dropdown-item"  routerLink="/sub2">sub2</a>
                 <a class="dropdown-item"  routerLink="/sub3">sub3</a>
             </div>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdow3</a>
         <div class="dropdown-menu" x-placement="bottom-start">
             <a class="dropdown-item"  routerLink="/sub1">sub1</a>
             <a class="dropdown-item"  routerLink="/sub2">sub2</a>
             <a class="dropdown-item"  routerLink="/sub3">sub3</a>
         </div>
   </li>
   <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown4</a>
       <div class="dropdown-menu" x-placement="bottom-start">
           <a class="dropdown-item"  routerLink="/sub1">sub1</a>
           <a class="dropdown-item"  routerLink="/sub2">sub2</a>
           <a class="dropdown-item"  routerLink="/sub3">sub3</a>
       </div>
   </li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown5</a>
       <div class="dropdown-menu" x-placement="bottom-start">
           <a class="dropdown-item"  routerLink="/sub1">sub1</a>
           <a class="dropdown-item"  routerLink="/sub2">sub2</a>
           <a class="dropdown-item"  routerLink="/sub3">sub3</a>
       </div>
   </li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown6</a>
       <div class="dropdown-menu" x-placement="bottom-start">
           <a class="dropdown-item"  routerLink="/sub1">sub1</a>
           <a class="dropdown-item"  routerLink="/sub2">sub2</a>
           <a class="dropdown-item"  routerLink="/sub3">sub3</a>
       </div>
   </li>
   <form class="form-inline my-2 my-lg-0 ml-auto">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
</ul>