@import '../../../variables';

.card-list-wrapper{
    margin: 15px auto;
    max-width: 1400px;
    min-width: 460px;
    padding: 10px;
    padding-left: 30px;
    
  //   display: flex;
  //  flex-wrap: wrap;
  //  justify-content: space-evenly;
    background-color: $gray-800;
.add-url{

  .form-control{
    width: 70%;

  }

}

}